@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
// @import url(https://fonts.googleapis.com/css?family=Indie+Flower|Coming+Soon|Permanent+Marker);

$white: #fff;
$darkGrey: #3d3d3d;

// $cyan: #69d2e7;
$cyan: #366F7C;
$paleCyan: #a7dbdb;
$cream: #e0e4cc;
$paleOrange: #f38630;
// $orange: #fa6900;
$orange: #D9553F;

$pink: #e94c6f;
$violet: #542733;
$greenGrey: #5a6a62;
$greenGreyLight: #c6d5cd;
$yellow: #fdf200;

$error: #d02552;
$success: #50d07d;
$emerald: #0C7C31;
$warning: #F9D345;

@mixin transition( $args... ) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform( $args... ) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}
@mixin opacity( $opacity ) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin border-radius( $radius ) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin abs-pos ( $top: auto, $right: auto, $bottom: auto, $left: auto ) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
@mixin font-size( $sizeValue: 12, $fw: 300 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
  font-weight: $fw;
}
@mixin line-height( $heightValue: 12 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.125 * $heightValue) + rem;
}
@mixin box-shadow( $shadow1, $shadow2:false ) {
 $params: $shadow1;
  @if $shadow2 
    { $params: $shadow1, $shadow2; }
  -webkit-box-shadow: $params;
     -moz-box-shadow: $params;
          box-shadow: $params;
}
@mixin keyframe ($animation-name, $trX, $trY, $ltr) {
	@if $ltr == true {
		@-webkit-keyframes #{$animation-name} {
			0% { @include transform( rotate(-180deg) translate(0, 0) rotate(180deg) scale(0.75) ); }
		    100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
		@-moz-keyframes #{$animation-name} {
			0% { @include transform( rotate(-180deg) translate(0, 0) rotate(180deg) scale(0.75) ); }
		    100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
		@-o-keyframes #{$animation-name} {
			0% { @include transform( rotate(-180deg) translate(0, 0) rotate(180deg) scale(0.75) ); }
		    100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
		@keyframes #{$animation-name} {
			0% { @include transform( rotate(-180deg) translate(0, 0) rotate(180deg) scale(0.75) ); }
	    	100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
	}
	@else if $ltr == false {
		@-webkit-keyframes #{$animation-name} {
			0% { @include transform( rotate(180deg) translate(0, 0) rotate(-180deg) scale(0.75) ); }
		    100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
		@-moz-keyframes #{$animation-name} {
			0% { @include transform( rotate(180deg) translate(0, 0) rotate(-180deg) scale(0.75) ); }
		    100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
		@-o-keyframes #{$animation-name} {
			0% { @include transform( rotate(180deg) translate(0, 0) rotate(-180deg) scale(0.75) ); }
		    100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
		@keyframes #{$animation-name} {
			0% { @include transform( rotate(180deg) translate(0, 0) rotate(-180deg) scale(0.75) ); }
	    	100%{ @include transform( rotate(0deg) translate($trX, $trY) rotate(0deg) scale(0.75) ); }
		}
	}
}
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$avatarSize: 80px;
$avatarBGPosition: 10px 10px;
$avatarBGSize: 60px 60px;
$badgeSize: 30px;
$badgeDisplacement: -7px;

html, body { height: 100%; }
body {
	font-family: 'Walter Turncoat', cursive;
	background: $white;
	color: $darkGrey;
	-webkit-font-smoothing: antialiased;

	a { text-decoration: none; color: $cyan; }

	#main { min-height: 100%; }

	#logo {
		position: absolute;
		background: url(../img/logo.svg) no-repeat transparent;
		background-size: contain;
		width: 200px;
		height: 200px;
		z-index: 11000;
	}

	header {
		position: fixed;
		top: 0;
		height: 40px;
		background: $orange;
		width: 100%;
		z-index: 10000;
		@include box-shadow( 0 0 50px rgba(0,0,0,0.25) );

		ul { 
			list-style-type: none; 
			padding: 0;
			margin: 0;

			li { 
				float: right; 
				padding: 0 10px;
				height: 100%;
				@include line-height(19);

				a { color: $white; display: inline-block; height: 100%; }
				a.disabled { opacity: 0.25; cursor: not-allowed; }
			}
			li:hover {
				cursor: pointer;
				@include box-shadow( 0 4px 4px rgba(0,0,0,0.1) inset );
			}
		}
	}

	#island {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(../img/isola.svg), url(../img/pattern-mare.svg);
		background-repeat: no-repeat, repeat;
		background-color: transparent;
		background-size: 80%, 12.5%;
		background-position: 50%;

		#bluePrint {
			position: relative;
			width: 80%;
			margin: auto;
			background: transparent;

			.bp-point-tso, .bp-point-dest {
				position: absolute;
				width: 4px;
				height: 4px;
				background: transparent;
			}

			#tso1 { left: 30.5%; top: 58%; }
			#tso2 { left: 33.5%; top: 58%; }
			#tso3 { left: 28%; top: 68%; }
			#tso4 { left: 31%; top: 68%; }
			#tso5 { left: 34%; top: 68%; }
			#tso6 { left: 37%; top: 68%; }
			#tso7 { left: 27.5%; top: 78%; }
			#tso8 { left: 30.5%; top: 78%; }
			#tso9 { left: 33.5%; top: 78%; }
			#tso10 { left: 36.5%; top: 78%; }
			#tso11 { left: 39.5%; top: 78%; }
			#tso12 { left: 25%; top: 88%; }
			#tso13 { left: 28%; top: 88%; }
			#tso14 { left: 31%; top: 88%; }
			#tso15 { left: 34%; top: 88%; }
			#tso16 { left: 37%; top: 88%; }
			#tso17 { left: 40%; top: 88%; }

			#dest1 { left: 45%; top: 50%; }
			#dest2 { left: 74%; top: 35%; }
			#dest3 { left: 23%; top: 68%; }
			#dest4 { left: 20%; top: 38%; }
			#dest5 { left: 15%; top: 55%; }
			#dest6 { left: 85%; top: 48%; }
			#dest7 { left: 27%; top: 30%; }
			#dest8 { left: 10%; top: 73%; }
			#dest9 { left: 68.5%; top: 42%; }
			#dest10 { left: 56%; top: 62%; }
			#dest11 { left: 24%; top: 80%; }
			#dest12 { left: 48%; top: 27%; }
			#dest13 { left: 30%; top: 65%; }
			#dest14 { left: 64%; top: 35%; }
			#dest15 { left: 51%; top: 48%; }
			#dest16 { left: 31%; top: 38%; }
			#dest17 { left: 37%; top: 32%; }
		}

		#char1 { top: 14%; left: 32%; }
		#char1.tso { background-image: url(../img/avatar/1.png); }
		#char1.done { background-image: url(../img/avatar/1.png); }

		#char2 { top: 18%; left: 74%; }
		#char2.tso { background-image: url(../img/avatar/2.png); }
		#char2.done { background-image: url(../img/avatar/2.png); }

		#char3 { top: 85%; left: 54%; }
		#char3.tso { background-image: url(../img/avatar/3.png); }
		#char3.done { background-image: url(../img/avatar/3.png); }

		#char4 { top: 12%; left: 90%; }
		#char4.tso { background-image: url(../img/avatar/4.png); }
		#char4.done { background-image: url(../img/avatar/4.png); }

		#char5 { top: 85%; left: 83%; }
		#char5.tso { background-image: url(../img/avatar/5.png); }
		#char5.done { background-image: url(../img/avatar/5.png); }

		#char6 { top: 72%; left: 5%; }
		#char6.tso { background-image: url(../img/avatar/6.png); }
		#char6.done { background-image: url(../img/avatar/6.png); }

		#char7 { top: 9%; left: 12%; }
		#char7.tso { background-image: url(../img/avatar/7.png); }
		#char7.done { background-image: url(../img/avatar/7.png); }

		#char8 { top: 48%; left: 3%; }
		#char8.tso { background-image: url(../img/avatar/8.png); }
		#char8.done { background-image: url(../img/avatar/8.png); }

		#char9 { top: 8%; left: 42%; }
		#char9.tso { background-image: url(../img/avatar/9.png); }
		#char9.done { background-image: url(../img/avatar/9.png); }

		#char10 { top: 82%; left: 21%; }
		#char10.tso { background-image: url(../img/avatar/10.png); }
		#char10.done { background-image: url(../img/avatar/10.png); }

		#char11 { top: 40%; left: 87%; }
		#char11.tso { background-image: url(../img/avatar/11.png); }
		#char11.done { background-image: url(../img/avatar/11.png); }

		#char12 { top: 61%; left: 87%; }
		#char12.tso { background-image: url(../img/avatar/12.png); }
		#char12.done { background-image: url(../img/avatar/12.png); }

		#char13 { top: 12%; left: 61%; }
		#char13.tso { background-image: url(../img/avatar/13.png); }
		#char13.done { background-image: url(../img/avatar/13.png); }

		#char14 { top: 78%; left: 71%; }
		#char14.tso { background-image: url(../img/avatar/14.png); }
		#char14.done { background-image: url(../img/avatar/14.png); }

		#char15 { top: 24%; left: 20%; }
		#char15.tso { background-image: url(../img/avatar/15.png); }
		#char15.done { background-image: url(../img/avatar/15.png); }

		#char16 { top: 25%; left: 8%; }
		#char16.tso { background-image: url(../img/avatar/16.png); }
		#char16.done { background-image: url(../img/avatar/16.png); }

		#char17 { top: 84%; left: 40%; }
		#char17.tso { background-image: url(../img/avatar/17.png); }
		#char17.done { background-image: url(../img/avatar/17.png); }

		.character {
			position: absolute;
			width: $avatarSize;
			height: $avatarSize;
			background-color: $orange;
			background-repeat: no-repeat;
			background-position: $avatarBGPosition;
			background-size: $avatarBGSize;
			z-index: 12000;
			text-align: center;
			color: $white;
			@include font-size(18);
			@include line-height(40);
			@include border-radius( $avatarSize/2 );
			@include box-shadow( 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset );
			@include transition( all 100ms ease-in-out );
			@include transform( scale(0.75) );

			.answersBadge {
				position: absolute;
				text-align: center;
				top: $badgeDisplacement;
				right: $badgeDisplacement;
				width: $badgeSize;
				height: $badgeSize;
				background-color: $cyan;
				color: $white;
				font-family: 'Walter Turncoat', cursiv;
				@include border-radius( $badgeSize/2 );
				@include font-size(8,700);
				@include line-height(15);
				@include box-shadow( 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset );
			}
		}
		.character.orange { background-color: $warning; }
		.character.green { background-color: $emerald; }
		.character:hover { @include transform( scale(1.25) ); cursor: pointer; z-index: 14000; }

		.character.ng-animate { @include transition( all 500ms ease-in-out ); }
		.character.ng-enter { opacity: 0; }
		.character.ng-enter-stagger { transition-delay: 0.1s; animation-delay: 0.1s; transition-duration: 0s; }
		.character.ng-enter.ng-enter-active { opacity: 1; }
	}

	#questionsContainer {
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		background-color: transparent;
		image-rendering: crisp-edges;
		height: 100%;
	    min-width: 100%;
	    position: absolute;

		#questions {
			float: right;
			width: 30%;
			margin-right: 1%;
			margin-top: 60px;
			background: $cyan;
			color: $white;
			padding: 15px;
			@include font-size(12);
			@include border-radius(2px);
			@include box-shadow( 0 40px 40px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset );

			.qID, .rID { display: none; }
			.Q { font-family: 'Walter Turncoat', cursiv; margin-bottom: 15px; display: inline-block; }

			form {
				overflow: hidden;
				overflow-y: scroll;

				p {
					margin: 0;
					font-size: 1rem;
					padding: 10px 25px;
					background: rgba(255,255,255,0.005);
					@include border-radius(15px);
					@include box-shadow( 0 1px 5px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset );
				}
				
				ul { 
					list-style-type: none;
					padding: 0 20px; 
					margin-left: 10px;

					li {
						// span.wrong { 
						// 	@include border-radius(4px);
						// 	padding: 4px 10px;
						// 	background: lighten( $error, 10 );
				  //   		// color: $error;
				  //   		border: 1px solid $error;
						// }

						ul {
							margin-bottom: 15px;
							margin-left: 0;
    						padding: 0;

							li { 
							    line-height: 1.35rem;

								label {
									font-size: 1rem;
									display: block;
    								margin-left: 15px;
									margin-bottom: 10px;
									cursor: pointer;

									input {
										float: left;
    									margin-left: -15px;
    									margin-right: 10px;
    									margin-top: 3px;
									}
								}
							}
						}
					}
				}
				#sendAnswers {
					width: 100%;
					text-align: center;
					background: $white;
					color: $cyan;
					padding: 15px;
					border: none;
					@include font-size(18);
					@include border-radius(4px);
					@include box-shadow( 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset );
					@include transition( all 100ms ease-in-out );
					// @include transform( scale(0.85) );
				}
				#sendAnswers:hover { @include transform( scale(0.875) ); }
			}
		}

		#description {
			position: absolute;
			left: 25%;
			top: 10%;
			width: 30%;
			background: rgba( $orange, 0.9);
			color: $white;
			padding: 15px 30px;
			@include border-radius(2px);
			@include box-shadow( 0 0 50px rgba(0,0,0,0.25) );
			@include transition( all 1000ms ease-in-out );

			p { font-size: 0.975rem; @include border-radius(0 0 2px 2px); }
			p:before { content: "\201C"; }
			p:after { content: "\201D"; }

			#timer {
				position: absolute;
				bottom: 0;
				height: 4px;
				background: $white;
				margin-left: -30px;
			}
		}
		#description:before { 
			content:"\A"; 
			border-style: solid;
		    border-width: 10px 15px 10px 0;
		    border-color: transparent rgba( $orange, 0.9) transparent transparent;
		    position: absolute;
		    left: -15px;
		    bottom: 30px;
		}
	}

	.ng-hide-add { animation:0.5s lightSpeedOut ease; }
	.ng-hide-remove { animation:0.5s flipInX ease; }
	@keyframes lightSpeedOut {
		  0% {
		    opacity: 1;
		  }

		  100% {
		    transform: translate3d(100%, 0, 0) skewX(30deg);
		    transform: translate3d(100%, 0, 0) skewX(30deg);
		    opacity: 0;
		  }
	}
	@keyframes flipInX {
	  0% {
	    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	    transition-timing-function: ease-in;
	    opacity: 0;
	  }

	  40% {
	    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
	    transition-timing-function: ease-in;
	    transition-timing-function: ease-in;
	  }

	  60% {
	    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
	    opacity: 1;
	  }

	  80% {
	    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	  }

	  100% {
	    transform: perspective(400px);
	    transform: perspective(400px);
	    transform: perspective(400px);
	  }
	}

	#modal, #infoModal, #charInactiveModal, #saveModal {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    background: rgba($white, 0.75);
	    z-index: 15000;

	    #modalContent, #infoModalContent, #charInactiveModalContent, #saveModalContent {
	    	position: relative;
	    	width: 50%;
	    	padding: 30px;
	    	background: $white;
	    	margin: auto;
	    	margin-top: 50px;
	    	@include box-shadow( 0 0 50px rgba($darkGrey,0.25) );
	    	@include border-radius(4px);
	    	@include transform( scale(0) );
	    	@include transition( all 100ms ease-in-out );

	    	#modalTitle, #infoModalTitle, #saveModalTitle, #charInactiveModalTitle {
	    		@include border-radius(4px);
	    		text-align: center;

	    		img { float: left; margin: 15px; }
	    	}
	    	.error { 
	    		background: lighten( $error, 50 );
	    		color: $error;
	    		border: 1px solid $error;
	    	}
	    	.success { 
	    		background: lighten( $success, 30 );
	    		color: darken($success, 10);
	    		border: 1px solid $success;
	    	}
	    	.warning { 
	    		background: lighten( $warning, 30 );
	    		color: $warning;
	    		border: 1px solid $warning;
	    	}

	    	#modalBody, #infoModalBody, #charInactiveModalBody, #saveModalBody {
	    		clear: both;
	    		.cta { 
	    			float: left; 
	    			width: 45%;
	    			border: 1px solid $darkGrey;
	    			@include border-radius(4px);
	    			padding: 1%;
    				text-align: center;
    				cursor: pointer;
    				@include transition( all 500ms ease-in-out );
	    		}
	    		.cta.block { @include transition( none !important ); width: 98%; }
	    		#replay { margin-left: 5%; }
	    		#accept {
	    			width: 100%;
	    			float: none;
	    			padding: 1% 0;
	    		}

	    		.cta:hover { background: $darkGrey; color: $white; }
	    	}

	    	#closeModal, #closeInfoModal, #closeCharInactiveModal {
	    		position: absolute;
	    		width: 50px;
	    		height: 50px;
	    		right: -10px;
	    		top: -10px;
	    		background: $cyan;
	    		@include border-radius(25px);
	    		@include box-shadow( 0 0 10px rgba($darkGrey,0.25) );
	    		color: $white;
	    		text-align: center;
    			font-size: 2.25rem;
    			@include transform( scale(1) );
	    		@include transition( all 100ms ease-in-out );
	    	}
	    	#closeModal:hover, #closeInfoModal:hover, #closeCharInactiveModal:hover { 
	    		background: $orange; 
	    		cursor: pointer;
	    		@include transform( scale(0.95) );
	    	}
	    }
	    // #modalContent { margin-top: 150px; }
	    // #infoModalContent, #charInactiveModalContent { margin-top: 50px; }
	    #modalContent.on, #infoModalContent.on, #charInactiveModalContent.on, #saveModalContent.on { @include transform( scale(1) ); }

	    span.highlight { 
	    	background: $cyan; 
	    	color: $white; 
	    	padding: 0 5px; 
	    	@include border-radius(2px); 
	    }
	}
	#infoModalBody { 
		max-height: 380px; 
		padding: 15px; 
		overflow-y: scroll; 

		ul { padding-left: 20px; }
	}

	footer {
		position: fixed;
		bottom: 0;
		height: 20px;
		background: $orange;
		width: 100%;
		z-index: 10000;
		padding: 0 15px;
		color: $white;
		font-size: 0.75rem;
		line-height: 1.25rem;
		text-align: center;
		@include box-shadow( 0 -4px 50px rgba(0,0,0,0.5) );
	}

	#loadingScreen {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $cyan;

		.spinner {
			margin: 100px auto 0;
			width: 70px;
			text-align: center;
			position: relative;
			top: 35%;
		}

		.spinner > div {
			width: 18px;
			height: 18px;
			background-color: $white;

			border-radius: 100%;
			display: inline-block;
			-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
			animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}

		.spinner .bounce1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}

		.spinner .bounce2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}

		@-webkit-keyframes sk-bouncedelay {
			0%, 80%, 100% { -webkit-transform: scale(0) }
			40% { -webkit-transform: scale(1.0) }
		}

		@keyframes sk-bouncedelay {
			0%, 80%, 100% { 
				-webkit-transform: scale(0);
				transform: scale(0);
			} 40% { 
				-webkit-transform: scale(1.0);
				transform: scale(1.0);
			}
		}
	}
	#loadingScreen.fadeOut { display: none; }
}