<div id="island">
	<div id="bluePrint">
		<div class="bp-point-tso" id="tso1"></div>
		<div class="bp-point-tso" id="tso2"></div>
		<div class="bp-point-tso" id="tso3"></div>
		<div class="bp-point-tso" id="tso4"></div>
		<div class="bp-point-tso" id="tso5"></div>
		<div class="bp-point-tso" id="tso6"></div>
		<div class="bp-point-tso" id="tso7"></div>
		<div class="bp-point-tso" id="tso8"></div>
		<div class="bp-point-tso" id="tso9"></div>
		<div class="bp-point-tso" id="tso10"></div>
		<div class="bp-point-tso" id="tso11"></div>
		<div class="bp-point-tso" id="tso12"></div>
		<div class="bp-point-tso" id="tso13"></div>
		<div class="bp-point-tso" id="tso14"></div>
		<div class="bp-point-tso" id="tso15"></div>
		<div class="bp-point-tso" id="tso16"></div>
		<div class="bp-point-tso" id="tso17"></div>

		<div class="bp-point-dest" id="dest1"></div>
		<div class="bp-point-dest" id="dest2"></div>
		<div class="bp-point-dest" id="dest3"></div>
		<div class="bp-point-dest" id="dest4"></div>
		<div class="bp-point-dest" id="dest5"></div>
		<div class="bp-point-dest" id="dest6"></div>
		<div class="bp-point-dest" id="dest7"></div>
		<div class="bp-point-dest" id="dest8"></div>
		<div class="bp-point-dest" id="dest9"></div>
		<div class="bp-point-dest" id="dest10"></div>
		<div class="bp-point-dest" id="dest11"></div>
		<div class="bp-point-dest" id="dest12"></div>
		<div class="bp-point-dest" id="dest13"></div>
		<div class="bp-point-dest" id="dest14"></div>
		<div class="bp-point-dest" id="dest15"></div>
		<div class="bp-point-dest" id="dest16"></div>
		<div class="bp-point-dest" id="dest17"></div>
	</div>
	<a
		ng-repeat="character in vm.initialState" 
		id="char{{character.pallino}}" 
		class="character" 
		ng-class="{
			sea: character.state == 'sea', 
			done: character.state == 'done', 
			tso: character.state == 'tso', 
			green: character.col == 'green', 
			orange: character.col == 'orange'
		}" 
		ng-click="vm.charIsActive( character.pallino, character.giuste )"
	>
		<strong ng-show="character.state == null || character.state == 'sea'">{{character.pallino}}</strong>
		<div class="answersBadge" ng-show="character.state == 'done' || character.state == 'tso'">{{character.pallino}}</div>
	</a>
</div>

<div id="charInactiveModal" ng-show="vm.alertCharIsBlocked">
  <div id="charInactiveModalContent" ng-class="{on: vm.alertCharIsBlocked}">
    <div id="charInactiveModalTitle" class="success">
    	<img ng-src="{{vm.charAvatarPath}}.png" width="80" height="80">
    	<h2 style="text-align: left;">Tutto giusto!<br>Non serve ripetere il modulo.</h2>
    	<div style="clear: both;"></div>
    </div>
    <div id="charInactiveModalBody">
      <p>
        {{vm.characterProfile}}
      <p>
    </div>
    <div id="closeCharInactiveModal" ng-click="vm.alertCharIsBlocked=false">X</div>
  </div>
</div>