<div id="questionsContainer" style="background-image: url(dist/img/characters/{{vm.charID}}.jpg)">

	<div id="questions" ng-show="vm.showQuestions" ng-class="{'on': vm.showQuestions}">
		<form ng-if="!vm.errore" id="questionsForm">
			<ul>
				<li ng-repeat="(key,value) in vm.characterData.questionario">
					<span 
						class="Q" 
						ng-class="{wrong: vm.results[key].corretto == false}"
					>
						{{vm.characterData.questionario[key].domanda}}
					</span>
					<span class="qID">{{vm.characterData.questionario[key].iddomanda}}</span>
					<ul>
						<li ng-repeat="(key2,value2) in vm.characterData.questionario[key].risposte">
							<label>
								<input 
									type="radio" 
									ng-model="vm.answers[$parent.$index].idrisposta" 
									ng-value="vm.characterData.questionario[key].risposte[key2].idrisposta"
								>
								{{vm.characterData.questionario[key].risposte[key2].risposta}}
							</label>
						</li>
					</ul>
				</li>
			</ul>
			<input class="btn" id="sendAnswers" type="submit" ng-click="vm.validateAnswers()" value="Rispondi" />
		</form>
		<div ng-if="vm.errore">
			<p>DATI DA INSERIRE</p>
		</div>
	</div>

	<div id="description" ng-hide="vm.showQuestions" ng-animate="'animateDescription'">
		<p>{{vm.characterData.descrizione}}</p>
		<div id="timer" style="width:{{vm.percentElapsed}}%;"></div>
	</div>
</div>

<div id="modal" ng-show="vm.showModal">
	<div id="modalContent" ng-class="{on: vm.showModal}">
		<div id="modalTitle" ng-class="vm.messageType"><h2>{{vm.messageTitle}}</h2></div>
		<div id="modalBody">
			<p>
				{{vm.message}}
			<p>
			<div id="backToIsland" class="cta" ng-class="{block: vm.ctaBlock}" ui-sref="frontend">Ritorna sull'isola</div>
			<div id="replay" ng-show="vm.canCloseModal" class="cta" ng-click="vm.showModal=false">Migliorati</div>
			<div style="clear: both;"></div>
		</div>

		<div id="closeModal" ng-click="vm.showModal=false" ng-show="vm.canCloseModal">X</div>
	</div>
</div>