<!DOCTYPE html>
<html lang="it" ng-app="app">
  <head>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide { display: none!important; }
    </style>
    <!-- <meta charset="ISO-8859-1"> -->
    <meta charset="utf-8">
    <title ng-bind="title">PP Island</title>

    <style>.ng-hide { display: none!important; }</style>

    <link href="/dist/css/vendor.min.css" rel="stylesheet">
    <link href="/dist/css/style.css" rel="stylesheet">

    <base href="/"></base>
  </head>
  <body>

    <div ng-controller="FrontendController as vm">

        <a ui-sref="frontend" id="logo"></a>

        <header>
          <nav>
            <ul>
              <li><a ng-href="#" ng-click="vm.finalize()" ng-class="{disabled: !vm.canCompleteTrial}">CONCLUDI IL CORSO</a></li>
              <li><a ng-href="#" ng-click="vm.fakeSave()">SALVA LA PROVA</a></li>
              <li><a ng-href="#" ng-click="vm.showInfo()">AIUTO</a></li>
            </ul>
          </nav>
        </header>

        <div id="main" class="container" ui-view></div>

        <footer>
          Corso di formazione a distanza “L’isola del reflusso” – 3° modulo: game
        </footer>

        <div id="infoModal" ng-show="vm.showInfoModal">
          <div id="infoModalContent" ng-class="{on: vm.showInfoModal}">
            <div id="infoModalTitle"><h2>Welcome to PPIsland!</h2></div>
            <div id="infoModalBody">
              <p>
                Benvenuto su PPIsland, l’Isola del Reflusso: ci sono 17 pallini-pazienti che aspettano il tuo aiuto!
                <br><br>
                Il tuo obiettivo è farli navigare verso la loro destinazione sulla terraferma.
                Clicca sul pallino 1 e scopri il primo personaggio: leggi il suo caso clinico per comprendere al meglio la sua patologia , osserva attentamente le sue caratteristiche fisiche, l’ambiente, il suo stile di vita e rispondi alle 4 domande.
                <br><br>
                <u>Se riconosci il profilo terapeutico ma non quello psicologico</u>, il paziente  resterà in mezzo al mare, ma non sarà svelato, in attesa di migliorare la sua posizione.
                <br><br>
                <u>Se riconosci il profilo psicologico ma non quello terapeutico</u>, il paziente sarà svelato ma navigherà verso l’area parcheggio del quartiere sanità, anche lui in attesa di migliorare la sua posizione.
                <br><br>
                Riassumendo : 
                <ul>
                  <li>se rispondi correttamente a tutte e 4 le domande, il tuo personaggio si muoverà automaticamente verso la propria destinazione;</li>
                  <li>se rispondi correttamente a 3 domande su 4, puoi riprovarci e migliorare oppure tornare sull’isola;</li>
                  <li>se rispondi correttamente a meno di 3 domande, devi per forza ripetere il test. </li>
                </ul>
                
                Puoi sempre decidere di tornare, all’isola prima di aver risolto il caso e passare al paziente successivo, ma per completare il corso devi necessariamente rispondere – e collocare! – tutti e 17 i pazienti. 
                <br><br>
                Puoi salvare temporaneamente la tua prova se decidi di uscire dal gioco prima di averla terminata, cliccando sul bottone “salva la prova”.
                <br><br>
                Dopo aver collocato tutti i personaggi, potrai inviare la tua prova al provider ECM cliccando su “Concludi il corso” terminando la FAD.
                <br><br>
                In ogni momento, un messaggio di testo ti aiuterà a orientarti.
                <br><br>
                Puoi consultare queste istruzioni ogni volta che vuoi, cliccando sul tasto “Aiuto”. 
                <br><br>
                Buon viaggio!
              <p>
              <label ng-if="!vm.accept">
                <input type="checkbox" ng-model="vm.acceptCheck">
                Ok. Tutto chiaro.
              </label>
              <div id="accept" class="cta" ng-click="vm.validateAccept()" ng-if="!vm.accept">Prosegui</div>
            </div>
            <div id="closeInfoModal" ng-click="vm.showInfoModal=false" ng-if="vm.accept">X</div>
          </div>
        </div>
        <div id="saveModal" ng-show="vm.showSaveModal">
          <div id="saveModalContent" ng-class="{on: vm.showSaveModal}">
            <div id="saveModalTitle" ng-class="vm.messageType"><h2>{{vm.saveTitle}}</h2></div>
            <div id="saveModalBody">
              <p>
                {{vm.saveMessage}}
              <p>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
    </div>

    <div id="loadingScreen">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <script src="/dist/js/vendor.min.js"></script>
    <script src="/dist/js/app.min.js"></script>
    
  </body>
</html>
